.textWrapper{
    flex-direction: column;
    gap: 30px;
}
.textWrapper h1{
    height: 10%;
    font-size: 2.5em;
    color: rgb(34, 74, 109);
}
.textDescription{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.textDescription h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(34, 74, 109);
}

.textDescription span, .textDescription ul li{
    color: #fff;
    background-color: rgb(34, 74, 109, .8);
    padding: 10px;
    border-radius: 10px;
}

.textDescription span p{
    text-align: justify;
}

.textDescription ul{
    list-style: none;
    width: 120%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    transform: translateX(-8%);
}

.textDescription ul li{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 1100px){
    .textWrapper h1{
        font-size: 3.2em;
    }

    .textDescription h2{
        font-size: 2.5em;
    }

    .textDescription span p{
        font-size: 1.25em;
        padding: 5px 8px;
    }

    .textDescription ul li{
        font-size: 1.1em
    }
}

@media screen and (max-width: 768px){
    .textDescription{
        width: 90%;
    }

    .textDescription ul{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr); 
        justify-items: center;
    }

    .textDescription ul li{
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .textDescription{
        width: 80%;
    }

    .textDescription ul li{
        width: 90%;
    }
}