.PortifolioElement {
    width: 85%;
    height: 105%;
    max-height: 22em;
    background-color: #7b1d3f;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2em;
    transition: .7s ease 0s, right .5s ease 0s;
}

.PortifolioElement:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.ref {
    padding: .7em 6em;
    border-radius: 20px;
    background-color: #D6D6D6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-decoration: none;
    border: solid #000 2px;
}

.ref img {
    width: 3em;
    height: 3em;
    margin-left: .5em;
}

.ref:hover {
    background-color: #224a6d;
    color: #fff;
    transition: .25s ease-in-out;
}

.ref:hover img {
    filter: invert(1);
    transition: .25s ease-in-out;
}

.ref p {
    font-size: 1.7em;
    font-weight: bold;
}

@media (max-width: 1300px) {
    .PortifolioElement {
        width: 100%;
        height: 105%;
    }
}

@media screen and (max-width: 1200px) {
    .PortifolioElement {
        width: 85%;
        height: 105%;
        padding: 1em;
    }

    .ref {
        padding: .7em 3em;
    }
}

@media screen and (max-width: 900px) {
    .PortifolioElement {
        width: 100%;
        height: 105%;
        padding: 1em;
    }

    .ref {
        padding: .7em 3em;
    }
}

@media screen and (max-width: 768px) {
    .ref {
        padding: .9em 4em;
    }
}