.mvv{
    text-align: center;
    background-color: #fcfcfc;
    padding: 48px 0px;
}

.mvv h2{
    font-size: 32px;
    margin-bottom: 10px;
}

.h2-colorido{
    color: #7B1D3F;
}

.mvv p{
    font-size: 24px;
    color: #000000;
    margin-bottom: 15px;
}

.cards-container-mvv{
    padding: 50px 24px;
}

.cards-mvv{
    width: 100%;
    max-width: 800px;
    background-color: #F5E5EB;
    padding: 45px 0px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    margin: 0 auto;
}

.card-mvv{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    justify-content: flex-start;
    background-color: #fcfcfc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 35px 20px;
    flex: 1;
    min-width: 300px;
    max-width: 350px;
    min-height: 270px;
}

.card-mvv h3{
    font-size: 24px;
    margin-bottom: 3px;
}

.card-mvv h4{
    font-size: 18px;
    margin-bottom: 24px;
    font-style: italic;
    font-weight: 400;
}

.card-mvv p{
    font-size: 16px;
    margin-top: 0;
}

@media screen and (max-width: 1100px){
    .cards-mvv{
        gap: 30px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 780px){
    .cards-mvv{
        border-radius: 20px;
    }

    .card-mvv{
        min-width: 250px;
        max-width: 300px;
    }
}

@media screen and (max-width: 500px){
    .mvv h2{
        font-size: 2.4rem;
        padding-bottom: 20px;
    }
}