.climaOrganizacionalsection{
    background-color: #fcfcfc;
}

.climaOrganizacionalcontainer{
    height: 70vh;
    width: 100%;
    background-color: #224A6D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: -.2em 0;
}

.climaTextContainer, .climaBenefitsContainer{
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 30px;
}

.climaTextContainer h1{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.climaTextContainer p{
    margin-bottom: 16px;
}

.climaTextWrapper{
    width: 105%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    text-align: justify;
}

.climaBenefitsWrapper{
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background-color: #D5E0E8;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.climaBenefitsWrapper h2 {
    color: #224A6D;
    font-size: 1.6rem;
    padding-top: 10px;
    text-align: center;
}

.climaBenefitsWrapper h2,
.climaBenefitsWrapper .benefitsContainer {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s, transform 1s;
}

.climaBenefitsWrapper.animate h2,
.climaBenefitsWrapper.animate .benefitsContainer {
    opacity: 1;
    transform: translateX(0); /* Slide in */
}

.customshapedividertop1736208262 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.customshapedividertop1736208262 svg {
    display: block;
    width: calc(140% + 1.3px);
    height: 152px;
}

.customshapedividertop1736208262 .shapefill1 {
    fill: #224A6D;;
}

.customshapedividerbottom1736208382 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.customshapedividerbottom1736208382 svg {
    display: block;
    width: calc(116% + 1.3px);
    height: 149px;
}

.customshapedividerbottom1736208382 .shapefill2 {
    fill: #224A6D;
}

@media (max-width: 768px) {
    .climaOrganizacionalcontainer {
        flex-direction: row;
        height: 70vh;
    }

    .climaTextContainer, .climaBenefitsContainer {
        width: 45%;
    }

    .climaTextContainer h1 {
        font-size: 2rem;
    }
}

@media (max-width: 1024px) {
    .climaOrganizacionalcontainer {
        justify-content: space-evenly;
    }

    .climaTextContainer h1 {
        font-size: 2.5rem;
    }
}


@media (max-width: 650px) {
    .climaOrganizacionalcontainer {
        flex-direction: column;
        height: auto;
        padding: 1em;
    }

    .climaTextContainer, .climaBenefitsContainer {
        width: 100%;
        padding: 0;
        gap: 15px;
    }

    .climaTextContainer h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .climaTextWrapper {
        width: 100%;
        gap: 10px;
        font-size: 0.9rem;
    }

    .climaBenefitsWrapper {
        width: 100%;
        gap: 10px;
        padding: 1em;
    }

    .climaBenefitsWrapper h2 {
        font-size: 1.2rem;
        text-align: center;
    }
}